<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @scene.title %>
</p>

<p>
  <b>Actor1:</b>
  <%= @scene.actor1 %>
</p>

<p>
  <b>Body:</b>
  <%= @scene.body %>
</p>


<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
