<!DOCTYPE html>
<html>
<head>
  <title>Alzheimer Alert</title>
  <p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<header class="navbar navbar-fixed-top">
	    <div class="container">
	      <%= image_tag("monicare.png") %>
	      <nav>
	      	<ul class="nav pull-right">
		      <li><%= link_to "Home", home_path %></li>
		      <li><%= link_to "About", about_path %></li>
		      <li><%= link_to "Demo", demo_path %></li>
		      <li><%= link_to "Events", events_path %></li>
		      <li><%= link_to "Users", users_path %></li>
			  <li><%= link_to "Sign up", "#" %></li>
			  <li><%= link_to "Sign in", "#" %></li>
			</ul>
		  </nav>
		</div>
    </header>

<div class="container">

<%= yield %>

</body>
</html>
